
<div class="container">

    <h2>browser events experiments</h2>

    <div id="hover" class="hover-me"></div>

    <button class="button button-highlight" (click)="toggleMouseMoveHandlerSubscription()" >- toggle -</button>

</div>

<!--<p>-->
  <!--browser-event-experiments works!-->
<!--</p>-->
